NODE_ENV=
PORT=
APP_BASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
AUTH_INTERNAL_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
RESOURCE_UPLOAD_PATH=
#MAIL
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_RECIPIENT_MAIN=
MAIL_FROM=
#Paypal
PAYPAL_GATEWAY_BASE_URL=